@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import '_variables';

body {
  font-family: 'Open Sans', sans-serif;
  color: $dark-color;
  background-color: $background-color;
  padding: 20px 40px;
}

//Remove arrows from input number
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  background-color: $primary-color;
  border: 1px solid;
  border-radius: 3px;
  color: black;
  padding: 6px 18px;
  text-align: center;
  font-size: 14px;
}

hr {
  height: 2px;
  background: $dark-color;
  background: linear-gradient(
    90deg,
    $background-color 0%,
    $dark-color 25%,
    $dark-color 75%,
    $background-color 100%
  );
  border: none;
}

//Top text title and select fields styles
@media only screen and (max-width: $breakpoint-mobile) {
  .top {
    justify-content: center !important;
  }
}
.top {
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  h1 {
    margin-bottom: 0px;
    margin-right: 10px;
  }

  #{&}__right {
    select {
      height: 32px;
      width: 100px;
    }
  }
}

//Product list styles
@media only screen and (max-width: $breakpoint-tablet) {
  .item {
    flex: 0 0 calc(33.33% - 24px) !important;
  }
}
@media only screen and (max-width: $breakpoint-mobile) {
  .list {
    justify-content: center !important;
  }
  .item {
    flex: 0 0 calc(100% - 24px) !important;
  }
}
.list {
  display: flex;
  flex-wrap: wrap;

  .item {
    position: relative;
    border: 2px solid $dark-color;
    box-shadow: 0px 0px 3px $gray-color;
    text-align: center;
    margin: 10px;
    flex: 0 0 calc(25% - 24px);
    ul {
      padding: 0;
      list-style: none;
      li {
        margin: 10px 0;
        letter-spacing: 0.05em;
      }
    }
    input[type='checkbox'] {
      position: absolute;
      top: 5px;
      left: 5px;
    }
  }
}

//Create form styles
.create__form {
  margin: 50px auto;
  width: 300px;
}

//Create Form fileds styles
.field {
  display: flex;
  margin: 20px 0px;
  justify-content: space-between;
  select {
    height: 26px;
    width: 208px;
  }
  div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .subtext {
    max-width: 200px;
    margin-top: 10px;
    font-size: 12px;
  }
  input {
    &[type='text'],
    &[type='number'] {
      height: 20px;
      width: 200px;
    }
  }
}
//Create form: hide unnecessary fields by default
#disc {
  display: none;
}

#furniture {
  display: none;
}

.input-dollar {
  position: relative;
}
.input-dollar:after {
  position: absolute;
  top: -24px;
  content: '$';
  right: 5px;
}
